# Server Configuration
PORT=5000
CLIENT_URL=http://localhost:3000
CARGO_ENV=dev
RUST_LOG=trace

# JWT
JWT_SECRET=your_jwt_secret_here

# Database
DATABASE_URL=postgresql://username:password@localhost:5432/db_name

# Redis
REDIS_URL=redis://your-redis-host:6379

# AWS
AWS_ACCESS_KEY=your_aws_access_key
AWS_SECRET_KEY=your_aws_secret_key
AWS_REGION=ap-south-1
AWS_CLOUD_FRONT_DISTRIBUTION_URL=https://your-cloudfront-url/
AWS_S3_BUCKET_NAME=your-s3-bucket-name
AWS_SQS_FIFO_QUEUE_NAME=your-fifo-queue-name.fifo
AWS_SQS_FIFO_QUEUE_URL=https://sqs.YOUR_REGION.amazonaws.com/YOUR_ACCOUNT_ID/YOUR_QUEUE_NAME.fifo

# Google OAuth
GOOGLE_AUTH_CLIENT_ID=your_google_oauth_client_id
GOOGLE_AUTH_CLIENT_SECRET=your_google_oauth_client_secret

# AI Keys
DEEP_INFRA_API_KEY=your_deep_infra_api_key
EDEN_AI_API_KEY=your_eden_ai_api_key
OPEN_ROUTER_API_KEY=your_open_router_api_key
